/* preloader */
body {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}



/* main page */
body {
	background-image: url("../../images/background-tile.jpg");
	background-attachment: fixed;
} 

.header {
	color:#665d5d;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-image: url("../../images/background-tile.jpg");
	z-index:10;
 	padding-top:25px;
 	padding-bottom:25px;
 	padding-left:9px;
 	padding-right:9px;
}

#headerWrangler {
	 	max-width:55em;
 		position:relative;
		margin:0px auto;
}
	
.container {
	margin-top:63px;
	padding-top:1px;
}

.mainTitle {
	color:#665d5d;
	font-family: 'Questrial', sans-serif; 
	font-size:33px;
	float:left;
 	line-height:34px;
 	padding-left:5px;
}

.subTitle {
	font-size:28px;
}


.menuHolder {

	/* border:1px solid red; */
	float:right;

}

.smallMenuText {
	font-family: 'Questrial', sans-serif; 
	font-size:15px;
	color:#5e5d5d;
	font-weight:400;
  	text-decoration:none;
 	line-height:39px;
 }

.smallMenuText a {
	text-decoration:none;
	color:#5e5d5d;
}

.bodyText {
	font-family: 'Questrial', sans-serif; 
	font-size:16px;
	color:#5e5d5d;
	font-weight:400;
	margin-left:20%;
	margin-right:26%;
	padding-top:11%;
	line-height:19px;
	clear:both;
}

.bodyText a {
	text-decoration:none;
	color:#5e5d5d;
}

.emailText {
	font-family: 'Questrial', sans-serif; 
	font-size:22px;
	color:#5e5d5d;
	font-weight:400;
	text-align:center;
	padding-top:220px;
	line-height:18px;
}



/* styles for the drop-down menu */
/*Strip the ul of padding and list styling*/
.menuHolder ul {
	list-style-type:none;
	margin:0;
  }

/*Create a horizontal list with spacing*/
.menuHolder li {
	display:inline-block;
	margin-right: 1px;
 	text-decoration: none;
  }

/*Style for menu links*/
.menuHolder li a {
	display:block;
	min-width:140px;
	padding-left:70px;
  	text-decoration: none;
  	 
}

/*Hover state for top level links*/
.menuHolder li:hover a {
 	font-weight:bold;
	
}

/*Prevent text wrapping*/
.menuHolder li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

 
/*Style 'show menu' label button and hide it by default*/
.show-menu {
 	text-decoration: none;
	display: none;
	background-image: url("../img/list-40.png");
	background-repeat: no-repeat;
	width:40px;
	height:40px;
	padding-bottom:5px;
	text-align:right;
	opacity:0.5;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
   
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]: ~ #menu{
    display: block;
 }


 
 
@media screen and (max-width : 900px){  

 	/* hide swipebox captions 
 	 #swipebox-top-bar {
 		display:none;
 	}*/

	/*Make dropdown links appear inline*/
	.menuHolder ul {
		display: none;
	}
	/*Create vertical spacing*/
	.menuHolder li {
		margin-bottom: 1px;
		display: block;
	}
	.menuHolder li a {
	display:block;
	min-width:auto;
	padding-left:0px;
  	text-decoration: none;
  	 
	}
	/*Make all menu links full width*/
	.menuHolder ul li, .menuHolder li a {
		
	}
	/*Display 'show menu' link*/
	/* position and styling of hamburger in small view*/
	.show-menu {
	display: inline;
    float: right;
    padding-right: 10px;
    position: relative;
    background-image: url("../img/list-40.png");
    background-repeat: no-repeat;
     width: 40px;
    height: 40px;
 
	}

 	.menuHolder {
 		float:right;
 		padding-right:0px;
 	}

	/* position and styling of menu in floating view*/
	#menu {
  		padding-left:10px;
		padding-right:10px;
	 	position:fixed;
	 	margin-top:40px;

		 /* border: 1px solid #665d5d; */
		 background-color:white;
		 box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
		 right:15px;
 	}


	.menuHolder ul {
	list-style-type:none;
	margin:auto;
	padding:auto;
	}

	.smallMenuText {
	font-family: 'Questrial', sans-serif; 
	font-size:18px;
	color:#5e5d5d;
	font-weight:400;
	line-height:38px;
	text-decoration:none;
	margin-right:10px;
}

	.smallMenuText a {
		text-decoration:none;
		color:#5e5d5d;
	}
 
}


@media screen and (max-width : 300px){  

.show-menu {

	display:none;
}

.menuHolder {
	display:none;
}

}